.carousel {
    padding: 0 4rem 2rem;

    & .carousel-control-next,
    & .carousel-control-prev {
        margin: 0 4rem
    }

    & .carousel-indicators {
        margin-bottom: 3rem;
    }

    & .carousel-item {
        position: relative;
        width: 100%;
        
        & .carousel-caption {
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            bottom: initial;
            z-index: 1;
            font-weight: bold;

            & p {
                color: $primary-gray;
            }
    
            & .title {
                font-size: 44px;
            }
    
            & .caption {
                font-size: 27px;
                margin-bottom: 2rem;
            }

            & .btn {
                font-size: 22px;
                box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (min-width:320px) and (max-width: 480px) {
    .carousel {
        padding: 0 2rem;
        margin-bottom: 2rem;

        & .carousel-control-next, 
        & .carousel-control-prev {
            margin: 1rem 2rem 0;
        }

        & .carousel-indicators {
            margin-bottom: 0;
        }
        
        & .carousel-item .carousel-caption {
            & p {
                margin-bottom: .3rem;
            }
    
            & .title {
                font-size: 18px;
            }
    
            & .caption {
                font-size: 10px;
                margin-bottom: .5rem;
            }
    
            & .btn {
                font-size: 8px;
                padding: 5px 10px;
            }
        }
    }
}