/* Basic Colors */
$primary-white: #fff;
$primary-black: #000;
$primary-gray: #333;
$light-gray: #E4E4E4;

/* Pink */
$light-pink: #FFF9FE;
$primary-pink: #F3CBF6;

/* Purple */
$primary-purple: #811888;